modules = ["nodejs-20", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0", "python_openai_ai_integrations:1.0.0", "spotify:1.0.0", "resend:1.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "backend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run_backend.sh"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[[ports]]
localPort = 8000
externalPort = 8000


[nix]
channel = "stable-25_05"
packages = ["cargo", "freetype", "gitFull", "glibcLocales", "imagemagick", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pkg-config", "playwright-driver", "rustc", "tcl", "tk", "zlib"]

[deployment]
build = ["bash", "-c", "cd frontend && npm run build"]
run = ["bash", "-c", "gunicorn backend.main:app -c backend/gunicorn_config.py --bind 0.0.0.0:5000"]
deploymentTarget = "vm"

[userenv]

[userenv.production]
PORT = "5000"

[userenv.shared]
VAPID_PUBLIC_KEY = "BIIxHjIBTJGpNAm-v1nQ0Q3DWK9gPKXY2z2ugFsbp1aPceYTorNkV2TZH83rRuAR0OGQGClXbtDZgr2FhJFXkHQ"
VAPID_SUBJECT = "mailto:support@rythm-app.replit.app"

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 120000
